$color1: white;
$color2: rgb(46, 46, 46);
$color3: rgb(0, 104, 136);

.home {
    padding-bottom: 2rem;

    >section {
        width: 100%;
        height: 35rem;
        background-image: url("/banner.svg");
        background-color: $color2;
        background-size: cover;
        background-position: center; // added for better centering

        @media (max-width: 768px) {
            height: 20rem; // Reduced height for mobile
            background-size: contain; // Ensure full image visibility
            background-repeat: no-repeat;
        }
    }

    >h1 {
        @include heading;
        margin: 2rem;
        @include flex(row, space-between);
    }

    >main {
        width: 100%;
        @include flex(row, flex-start, unset, 1rem);
        flex-wrap: wrap;
        padding: 2rem;
    }
}

.findMore {
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: rgb(83, 83, 83);

    &:hover {
        text-decoration: underline;
    }
}

.productCard {
    width: 18.75rem;
    height: 25rem;
    padding: 2rem;
    background-color: white;
    border-radius: 5px;
    position: relative;
    @include flex(column, flex-start, center, 0.5rem);

    &:hover {
        >div {
            opacity: 1;
        }
    }

    >img {
        @include square(10rem);
        object-fit: contain;
        // margin: 2rem;
    }

    >p {
        font-weight: 700;
        font-size: 1.1rem;
        text-align: center;
    }

    >span {
        font-weight: 300;
    }

    >div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include flex;
        background-color: rgba(0, 0, 0, 0.452);
        border-radius: 5px;
        opacity: 0;
        transition: all 0.5s;

        >button,
        >a {
            @include flex;
            @include square(3rem);
            background-color: white;
            color: $color3;
            border-radius: 50%;
            border: none;
            outline: none;
            cursor: pointer;
            font-size: 1.2rem;
            transition: all 0.3s;
            margin: 0.5rem;
            text-decoration: none;

            &:hover {
                background-color: $color3;
                color: white;
                transform: rotate(15deg);
            }
        }
    }
}