.productDetails {
    padding: 1rem 2rem;
    padding-top: 4rem;

    >main {
        display: flex;
        max-width: 1920px;
        width: 100%;
        margin: auto;
        gap: 1rem;

        >section {
            //   width: 100%;
            //   height: 80vh;
            //   max-height: 80vh;

            &:first-child {
                width: 40%;
                height: 59vh;
            }

            &:last-child {
                width: 60%;
                min-height: 59vh;

                h1 {
                    font-size: 2rem;
                    margin: 1rem;
                }

                >div {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-around;

                    code {
                        font-size: 1.2rem;
                        background-color: rgb(5, 107, 224);
                        color: white;
                        border-radius: 10px;
                        padding: 0.25rem 0.5rem;
                        width: auto;
                        // height: 2.5rem;
                    }

                    h3 {
                        font-size: 1.5rem;
                        margin: 0.5rem 0;
                        color: black;
                    }
                }

                p {
                    font-size: 1.2rem;
                    margin: 1rem 0;
                    font-weight: 300;
                    letter-spacing: 2px;
                    line-height: 150%;
                    overflow-y: auto;
                    height: 19rem;
                }

                article {
                    display: flex;
                    flex-direction: row;
                    // flex-direction: column;
                    align-items: flex-start;
                    gap: 1rem;
                    margin: 2rem 0;

                    >div:first-child {
                        border: 1px solid rgba(0, 0, 0, 0.1);
                        width: 12rem;
                        border-radius: 5px;
                        @include flex(row, space-between, center);

                        >span {
                            // padding: 0.5rem;
                            font-size: 2rem;
                        }

                        button {
                            @include square(4rem);
                            border-radius: 5px;
                            @include flex;
                            cursor: pointer;
                            font-size: 2rem;

                            &:hover {
                                background-color: $color2;
                                color: $color1;
                            }
                        }
                    }

                    >div:last-child {
                        @include flex(row, flex-start);

                        >button {
                            font-size: 1rem;
                            width: 12rem;
                            @include btn(1.45rem, $color3, $color1);
                            border: none;
                            @include flex;
                            cursor: pointer;
                            text-transform: uppercase;
                            letter-spacing: 2px;
                            border-radius: 5px;

                            &:hover {
                                opacity: 0.8;
                            }
                        }
                    }
                }
            }
        }
    }

    >section {
        margin: auto;
        padding: 0.5rem 0.5rem;
        height: 29vh;

        >div {
            >div {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;

                >h1 {
                    margin-left: 1rem;
                    @include heading;
                }

                >button {
                    margin-left: 4rem;
                    border: none;
                    color: $color3;
                    width: 3rem;
                    height: 3rem;
                    display: grid;
                    place-items: center;
                    font-size: 2rem;
                    cursor: pointer;
                }
            }

            >div {
                display: flex;
                flex-direction: row;
                gap: 1rem;
                padding: 1rem;
                overflow-x: auto;
                position: relative;

                >article {
                    display: flex;
                    flex-direction: row;
                    min-width: 50%;
                    height: 12rem;
                    overflow-y: auto;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    width: 100%;

                    >div {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        gap: 1rem;

                        >img {
                            width: 40px;
                            height: 40px;
                            border-radius: 50px;
                            object-fit: cover;
                        }

                        >div {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: space-around;

                            gap: 3rem;

                            >h1 {
                                font-size: 1.2rem;
                                color: $color3;
                            }

                            >button {
                                width: 2.5rem;
                                height: 2.5rem;
                                font-size: 1.5rem;
                                border: none;
                                outline: none;
                                background-color: transparent;
                                cursor: pointer;
                                background-color: $color3;
                                color: white;
                                border-radius: 5px;
                                display: grid;
                                place-items: center;
                                font-size: 1.25rem;

                                &:hover {
                                    opacity: 0.6;
                                }
                            }
                        }
                    }

                    >p {
                        font-size: 1.2rem;
                        font-weight: 300;
                        height: 12rem;
                        overflow-y: auto;
                    }

                    >textarea {
                        width: 100%;
                        height: 100%;
                        border: 1px solid rgba(0, 0, 0, 0.1);
                        border-radius: 5px;
                        padding: 0.5rem;
                        font-size: 1rem;
                        resize: none;
                    }

                    >form {
                        margin: 0 1rem;
                        height: 100%;

                        @include flex(column, center, stretch);

                        >textarea {
                            padding: 1rem;
                            border: 1px solid rgb(29, 29, 29);
                            border-radius: 5px;
                            font-size: 1.2rem;
                            height: 100%;
                        }

                        >div {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            >h2 {
                                @include heading;
                            }

                            >button {
                                background-color: rgb(29, 29, 29);
                                color: white;
                                border: none;
                                cursor: pointer;
                                padding: 1rem;
                                border-radius: 5px;
                                font-size: 1.2rem;

                                &:hover {
                                    opacity: 0.8;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.carouselBtn {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 10px;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    display: grid;
    place-items: center;
}