:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

button {
    &:disabled {
        cursor: not-allowed !important;
        opacity: 0.5;
    }
}

$color1: white;
$color2: rgb(46, 46, 46);
$color3: rgb(0, 104, 136);

body {
    -webkit-user-select: none;
    user-select: none;
}

.red {
    color: red;
}

.purple {
    color: rgb(47, 0, 255);
}

.green {
    color: rgb(0, 195, 0);
}

.yellow {
    color: rgb(255, 255, 0);
}

@import "mixin";
@import "login";
@import "admin-styles/admin.scss";
@import "home";
@import "search";
@import "cart";
@import "shipping";
// Temporarily commenting out other imports until they are ported
// @import "search";
@import "productDetails";
// @import "admin-styles/admin.scss";
// @import "mediaquery";

.container {
    padding-top: 4rem;
    max-width: 1367px;
    width: 100%;
    margin: auto;
    overflow: auto;

    >h1 {
        @include heading;
        margin: 1rem 0;
        text-align: left;
    }
}

.heading {
    @include heading;
    margin: 1rem 0;
    text-align: center;
}

.header {
    position: fixed;
    @include flex(row, flex-end, stretch, 1.2rem);
    padding: 1rem;
    width: 100%;
    background-color: $color1;

    a {
        color: $color2;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-size: 1.2rem;

        &:hover {
            color: $color3;
        }
    }

    button {
        border: none;
        font-size: 1.2rem;
        cursor: pointer;
        background-color: transparent;

        &:hover {
            color: $color3;
        }
    }

    dialog {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        width: 150px;
        position: absolute;
        left: calc(100% - 150px);
        top: 6%;

        >div {
            @include flex(column, flex-start, center, 0.25rem);
        }

        z-index: 100;
    }

    z-index: 100;
}